@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');

*, html{
  overflow: hidden;
}
.react-reveal {
  overflow: visible;
}
.App {
  height: 100vh;
  background-color: #000000;
  font-family: 'Kaushan Script', cursive;
  font-weight: 900;
}

.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
}

.navbar-expand-lg .navbar-nav {
  flex-direction: row;
  width: 100%;
  padding: 2% 5% 0% 5%;
}

.navbar-btn-txt {
  margin: 0% 5%;
}

.bg:after {
  content: ' ';
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 1;
}

.right-menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 20px;
}


.header {
  height: 100px;
  display: flex;
  flex-direction: row;
  font-family: 'Encode Sans SC', sans-serif;
  position: relative;
  justify-content: end;
}

.title {
  font-size: 35px;
  font-family: 'Kaushan Script', cursive !important;

}

.btn {
  background-color: transparent !important;
  color: white;
  border: none;
  font-family: 'Encode Sans', sans-serif;
  margin-right: 80px;
  font-size: 20px;
}

@keyframes custom-animation-white {
  0% {
    transform: translate3d(0px, -110px, 0px);
    animation-timing-function: ease-in-out;
    opacity: 0;
  }

  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in-out;
    opacity: 1;
    color: white;
  }
}

@keyframes custom-animation-gradient {
  0% {
    opacity: 0;

  }
  100% {
    opacity: 1;
  }
}

@keyframes custom-animation-gradient1 {
  0% {
    color: #ffffff;
  }

  20% {
    color: #ffd1d1;
  }

  40% {
    color: #ff7171;
  }

  100% {
    color: #ff4040;

  }
}

@keyframes cf4FadeInOut {
  0% {
    opacity: 1;
  }

  17% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  92% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#cf4a img:nth-of-type(1) {
  animation-delay: 6s;
}

#cf4a img:nth-of-type(2) {
  animation-delay: 4s;
}

#cf4a img:nth-of-type(3) {
  animation-delay: 2s;
}

#cf4a img:nth-of-type(4) {
  animation-delay: 0;
}

#cf3 img.top {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-direction: alternate;
}

@keyframes animation-horizontal {
  0% {
    transform: translate(0px, 0px);
    animation-timing-function: ease-in-out;
    color: white;
  }

  100% {
    transform: translate(-100%, 0px);
    animation-timing-function: ease-in-out;
  }
}

@keyframes animation-horizontal-screenshot {
  0% {
    transform: translate(5%, 0px);
    animation-timing-function: ease-out;
    color: white;
  }

  100% {
    transform: translate(-5%, 0px);
    animation-timing-function: ease-out;
  }
}

.delay-1 {
  animation-delay: 1s !important;
}

.delay-2 {
  animation-delay: 1.4s !important;
}

.custom-animation-white {
  animation: 1.5s ease-in-out 0s 1 normal forwards running custom-animation-white;
}

.custom-animation-gradient {
  background: -webkit-linear-gradient(to right,
  #dd2476,
  #2f71ff);
/* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right,
  #dd2476,
  #2f71ff);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: 100%;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  animation: 1.5s ease-in 0s 1 normal forwards running custom-animation-gradient;
}

.custom-animation-gradient1 {
  animation: 2s ease-in-out 0s 1 normal forwards running custom-animation-gradient1;
}

.infinite {
  background: #00f260;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #dd2476,
      #ff512f);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #dd2476,
      #ff512f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: 2.8s ease-in 0s 1 normal forwards running custom-animation-gradient-broken;
  animation-iteration-count: infinite;
}

.animation-horizontal {
  animation: 1s ease-in-out 0s 1 normal forwards running animation-horizontal;
}

.content {
  width: 100%;
  height: 90%;

  overflow: hidden;
  /* top: 0; */
}

.ieWDks {
  background-repeat: no-repeat;
  background-size: contain !important;
  border-radius: 5px;
  max-width: 95%;
}

.react-reveal {
  height: 100%;
  width: 100%;
  position: absolute;
}

.content-title {
  font-size: 120px;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: 'Oswald', 'Courier New', Courier, monospace;
}

.content-title-project {
  font-size: 70px;
  /* margin-top: 370px;
  margin-bottom: 15px; */

}
.title1 {
  font-size: 90px;
  font-family: 'Kaushan Script', cursive !important;
  top: 15%;

}

.alon-title {
  font-size: 90px;
  position: absolute;
  top:15%;
  left: 50%;
  transform: translate(-50%, 0);
  animation: 1.5s ease-in-out 0s 1 normal forwards running moveTitle;
}
.fade-animate {
  animation: 1.5s linear 0s 1 normal forwards running fade-animate;

}
@keyframes moveTitle {
  0% {
    left: 50%;
    top: 15%;
  }
  40% {
    opacity: 1;
  }
  80% {
    left: 100px;
    top: -60px;

  }

  100% {
    left: 100px;
    top: -60px;
    opacity: 0;
    font-size: 35px;

  }

}
@keyframes fade-animate {
  0% {
    opacity: 1;
  }


  50% {
    opacity: 0;

  }
  100% {
    opacity: 0;
  }
}
.content-title-visit {
  font-size: 45px;

  padding:  2% 3%;
  background: -webkit-linear-gradient(to right,
  #dd2476,
  #2f71ff);
/* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right,
  #dd2476,
  #2f71ff);
  border-radius: 25px;
  font-family: 'Kaushan Script', cursive;
  color: #111111;
  font-weight: 700;
  margin: 5%;
}
.content-title-visit:hover {
  background: -webkit-linear-gradient(to right,
  #dd2476,
  #2f71ff);
/* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right,
  #ff9eca,
  #86acff);
  color: #111111;
}

.content-title-2 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 100px;
  opacity: 0;
}

.trail {
  /* className for the trail elements */
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  background: teal;
}

.full-stack {

  z-index: 1;
}

.developer {

  z-index: 1;

}

.footer {
  position: absolute;
  bottom: 0%;
  left: 50%;
  color: white;
  font-size: 120px;
  font-weight: bolder;
  transform: translate(-50%, -20%);
  font-family: 'Bebas Neue', 'Courier New', Courier, monospace;

}

.horizontal-line-scope {
  background: linear-gradient(to right,
      #dd2476,
      #ff512f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-body-project {
  display: flex;
  flex-direction: row !important;
  flex: auto;
  flex-flow: column;
  height: 100%;
}

.content-body {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden !important;
}

.screenshot {
  display: inline;
  margin: 0 auto;
  animation: 10s ease-in 0s 1 normal forwards running animation-horizontal-screenshot;
  width: 100%;
  object-fit: contain;
}

.image-cropper {
  width: 100%;
  overflow: hidden;
  height: 75%;
  object-fit: contain;
  justify-content: center;
  display: flex;
  z-index: 0;
  margin-top: 1%;
}

.footer-p {
  margin: 0 !important;
}

.linear-wipe {
  text-align: center;
  background: hsla(63, 100%, 77%, 1);

  background: linear-gradient(90deg, hsla(63, 100%, 77%, 1) 0%, hsla(331, 74%, 68%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(63, 100%, 77%, 1) 0%, hsla(331, 74%, 68%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(63, 100%, 77%, 1) 0%, hsla(331, 74%, 68%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FAFF89", endColorstr="#EA72AD", GradientType=1);
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.project-info {
  background-color: rgba(255, 255, 255, 0.3);
  height: fit-content;
  border-radius: 30px;
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  position: relative;
  width: 85%;
}

.tech-logo {
  width: 80%;
}

.fadeInUp {
  z-index: 2;
}

.tech-col {
  width: 20%;
  /* padding: 5%; */
  display: flex;
  flex-direction: column;
  /* vertical-align: bottom; */
  height: 100%;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 3%;
  justify-content: flex-end;
}

.description {
  font-size: 22px;
  font-weight: 100;
  width: 100%;
  margin-top: 0px !important;
}

.stack-title {
  text-align: center;
  font-weight: 400;
  opacity: 0.6;
  margin: 0 !important;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  line-height: 16px;
}

@media only screen and (max-width: 768px) {
  .description {
    width: 100%;
  }
  [class^="col"] {
    width: 100% !important;
  }
  .image-cropper {
    width: 100%;
    position: unset;
    overflow: hidden;
    border-radius: 5%;
    object-fit: contain;
    justify-content: center;
    display: flex;
    z-index: 0;
    height: 300px;
    align-items: flex-start;
  }

  .screenshot {
    width: 800px;
    object-fit: cover;
  }


  .project-info {
    width: 80%;
    padding: 2%;
  }
  .stack-title{
    font-size: 12px !important;
  }
  .content-body{
    margin: 0 !important;
  }

  .content-body-project {
    width: 100%;
    flex-direction: column !important;
  }
  .col-4{
    margin: 0 !important;
  }
  .content-title-project {
    font-size: 55px;
  }

  .content-title-visit {
    font-size: 35px;
  }
  .ieWDks{
    max-width: 100%;
  }
}