@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap");
*,
html {
  overflow: hidden;
  letter-spacing: 1.3px;
}
.react-reveal {
  overflow: visible;
}
.App {
  height: 100vh;
  background-color: #000000;
  font-family: "Kaushan Script", cursive;
  font-weight: 900;
  position: relative;
  overflow: hidden;
}

.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
}

.resume-btn {
  background-color: #c41c1c;
  border-radius: 25px;
  padding: 0.8% 2% !important;
  color: black !important;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;

}
.navbar-expand-lg .navbar-nav {
  flex-direction: row;
  width: 100%;
  padding: 2% 5% 0% 5%;
  z-index: 15;
}

.navbar-btn-txt {
  margin: 0% 5%;
}

.bg:after {
  content: " ";
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: url("http://assets.iceable.com/img/noise-transparent.png") repeat
    0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 1;
}

.right-menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 20px;
}
#section07 {
  background: url(https://picsum.photos/1200/800?image=675) center center /
    cover no-repeat;
}

.header {
  height: 100px;
  display: flex;
  flex-direction: row;
  font-family: "Encode Sans SC", sans-serif;
  position: relative;
  justify-content: end;
}

.title {
  font-size: 35px;
  font-family: "Kaushan Script", cursive !important;
}

.btn {
  background-color: transparent !important;
  color: white;
  border: none;
  font-family: "Encode Sans", sans-serif;
  margin-right: 80px;
  font-size: 20px;
}
.css-10botns-MuiInputBase-input-MuiFilledInput-input,
.css-1gzyby-MuiInputBase-root-MuiFilledInput-root {
  background-color: #9f9f9f45 !important;
  color: white;
}
.css-e4w4as-MuiFormLabel-root-MuiInputLabel-root {
  color: rgb(140 140 140) !important;
}
.css-19mk8g1-MuiInputBase-root-MuiFilledInput-root::after,
.css-1gzyby-MuiInputBase-root-MuiFilledInput-root:after {
  border-color: #c41c1c !important;
  border-bottom: 3px solid #c41c1c !important;
}
.css-10botns-MuiInputBase-input-MuiFilledInput-input {
  color: white;
}
.MuiInputLabel-root,
.css-7209ej-MuiInputBase-input-MuiFilledInput-input {
  color: white !important;
}

.title-scroll {
  position: absolute;
  left: 50%;
  bottom: 34%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: 100;
}
.titleBeforeMovement{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 12;
}
.MuiFormControl-root {
  padding: 1% !important;
  width: 100%;
}
.MuiFilledInput-root {
  border-radius: 0 !important;
}
.button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 204, 255, 0);
  border-radius: 10rem;
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #949494;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button-red {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button-red:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 204, 255, 0);
  border-radius: 10rem;
  z-index: -2;
}
.button-red:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #fa8d8d;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.button-red:hover:before {
  width: 100%;
}
.button:hover {
  color: #fff;
}
.button:hover:before {
  width: 100%;
}

.contact-container {
  display: flex;
  flex-direction: row;
  background-color: #2f2f2f;
  width: 85%;
  height: 75%;
  justify-content: center;
  margin-top: 1%;
}
.contact-col {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 1%;
  justify-content: center;
  position: relative;
}
.contact-bubble {
  width: 65px;
  height: 65px;
  background-color: #c41c1c;
  color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
  font-weight: 100;
  font-size: 30px;
}
.bubble-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 100;
  white-space: nowrap;
  color: white !important;
  text-decoration: none;
}
.bubble-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3%;
}
.contact-submit-btn {
  width: 200px;
  padding: 1%;
  margin: 2% 0;
  background-color: transparent;
  border: 3px solid #c41c1c;
  color: #c41c1c;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 2px;
  align-self: flex-end;
}
.hover-animate-static > span {
  position: relative;
  display: inline-block;
  animation: flip-reverse-static 1s;
  transition-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.hover-animate-static > span:hover {
  position: relative;
  -webkit-animation: flip-static 1s;
  animation: flip-static 1s;
  transition-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.hover-animate > span {
  display: inline-block;
  animation: flip-reverse 1s;
  transition-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  overflow: visible;
}
.hover-animate > span:hover {
  -webkit-animation: flip 1s;
  animation: flip 1s;
  transition-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes flip {
  25% {
    color: #c41c1c;
  }
  100% {
    color: #c41c1c;
    transform: rotateY(180deg);
  }
}
@keyframes flip-reverse {
  0% {
    transform: rotateY(180deg);
    color: #c41c1c;
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes flip-static {
  30% {
    color: #c41c1c;
  }
  100% {
    color: #c41c1c;
  }
}
@keyframes flip-reverse-static {
  0% {
    color: #c41c1c;
  }
  100% {
    color: #2f2f2f;
  }
}
.hover-animate-main > span {
  display: inline-block;
  animation: flip-reverse-main 1s;
  transition-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  overflow: visible;
}
.hover-animate-main > span:hover {
  -webkit-animation: flip-main 1s;
  animation: flip-main 1s;
  transition-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes flip-main {
  25% {
    background: -webkit-linear-gradient(to right, #dd2476, #ff512f);
    background: linear-gradient(to right, #dd2476, #ff512f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: skewY(30deg);

  }
  100% {
    background: -webkit-linear-gradient(to right, #dd2476, #ff512f);
    background: linear-gradient(to right, #dd2476, #ff512f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: rotateY(180deg);
  }
}
@keyframes flip-reverse-main {
  0% {
    transform: rotateY(180deg);
    color: #c41c1c;
  }
  100% {
    transform: rotateY(0deg);
  }
}
.project-img-mobile {
  object-fit: cover;
}
.hover-animate-bubble {
  animation: flip-bubble-reverse 0.8s;
  transition-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.hover-animate-bubble:hover {
  position: relative;
  -webkit-animation: flip-bubble 0.8s;
  animation: flip-bubble 0.8s;
  transition-timing-function: ease-in-out;
  font-weight: bold;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-10botns-MuiInputBase-input-MuiFilledInput-input {
  color: white !important;
}
.MuiCircularProgress-colorPrimary {
  color: #c41c1c !important;
}
@keyframes flip-bubble {
  30% {
    background-color: white;
    color: black;
  }
  100% {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
  }
}
@keyframes flip-bubble-reverse {
  0% {
    background-color: white;
    color: black;
    transform: rotateY(0deg);
  }
  100% {
    background-color: #c41c1c;
    color: white;
    transform: rotateY(-180deg);
  }
}

@keyframes custom-animation-white {
  0% {
    transform: translate3d(0px, -110px, 0px);
    animation-timing-function: ease-in-out;
    opacity: 0;
  }

  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in-out;
    opacity: 1;
    color: white;
  }
}

@keyframes custom-animation-gradient {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes custom-animation-gradient1 {
  0% {
    color: #ffffff;
  }

  20% {
    color: #ffd1d1;
  }

  40% {
    color: #ff7171;
  }

  100% {
    color: #ff4040;
  }
}

@keyframes cf4FadeInOut {
  0% {
    opacity: 1;
  }

  17% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  92% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#cf4a img:nth-of-type(1) {
  animation-delay: 6s;
}

#cf4a img:nth-of-type(2) {
  animation-delay: 4s;
}

#cf4a img:nth-of-type(3) {
  animation-delay: 2s;
}

#cf4a img:nth-of-type(4) {
  animation-delay: 0;
}

#cf3 img.top {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-direction: alternate;
}

@keyframes animation-horizontal {
  0% {
    transform: translate(0px, 0px);
    animation-timing-function: ease-in-out;
    color: white;
  }

  100% {
    transform: translate(-100%, 0px);
    animation-timing-function: ease-in-out;
  }
}

@keyframes animation-horizontal-screenshot {
  0% {
    transform: translate(5%, 0px);
    animation-timing-function: ease-out;
    color: white;
  }

  100% {
    transform: translate(-5%, 0px);
    animation-timing-function: ease-out;
  }
}

.delay-1 {
  animation-delay: 1s !important;
}

.delay-2 {
  animation-delay: 1.4s !important;
}

.custom-animation-white {
  animation: 1.5s ease-in-out 0s 1 normal forwards running
    custom-animation-white;
}

.custom-animation-gradient {
  color: #c41c1c;
  animation: 1.5s ease-in 0s 1 normal forwards running custom-animation-gradient;
}

.custom-animation-gradient1 {
  animation: 2s ease-in-out 0s 1 normal forwards running
    custom-animation-gradient1;
}

.infinite {
  background: #00f260;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #dd2476, #ff512f);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #dd2476, #ff512f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: 2.8s ease-in 0s 1 normal forwards running
    custom-animation-gradient-broken;
  animation-iteration-count: infinite;
}

.animation-horizontal {
  animation: 1s ease-in-out 0s 1 normal forwards running animation-horizontal;
}
.iAHkiA {
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
.content {
  width: 100%;
  height: 90%;

  overflow: hidden;
  /* top: 0; */
}

.ieWDks {
  background-repeat: no-repeat;
  background-size: contain !important;
  border-radius: 5px;
  max-width: 95%;
}

.react-reveal {
  height: 100%;
  width: 100%;
  position: absolute;
}

.content-title {
  font-size: 10vw;
  font-weight: 400;
  font-family: "Oswald", "Courier New", Courier, monospace;
}
.about-cropper {
  transform: scale(0.95);
  border-radius: 50%;
}

.myfilter {
  position: relative;
  margin: 0 10%;
}

.myfilter:after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background: linear-gradient(to right, #c41c1c00 0%, #c41c1c7a 100%);
  mix-blend-mode: color;
}
.about-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  margin-left: 10%;
  margin-top: 5%;
}
.content-title-project {
  font-size: 70px;
  overflow: visible;
  margin: 3% 0%;
}

.chevron {
  position: absolute;
  width: 2.0rem;
  height: 0.3rem;
  opacity: 0;
  transform: scale(0.2);
  -webkit-animation: move-chevron 3s ease-out infinite;
  animation: move-chevron 3s ease-out infinite;
  overflow: visible;
}

.chevron:first-child {
  -webkit-animation: move-chevron 3s ease-out 1s infinite;
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  -webkit-animation: move-chevron 3s ease-out 2s infinite;
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #ffffff9d;
}

.chevron:before {
  left: 0;
  transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

@-webkit-keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}
.chevron-container {
  width: 50px;
  position: absolute;
  top: 80%;
  right: 0.5%;
  height: 200px;
}
.title1 {
  font-size: 130px;
  font-family: "Kaushan Script", cursive !important;
  top: 15%;
  z-index: 15;
}
.project-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 5%;
}
.alon-title {
  font-size: 90px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  animation: 1.5s ease-in-out 0s 1 normal forwards running moveTitle;
}
.fade-animate {
  animation: 1.5s linear 0s 1 normal forwards running fade-animate;
}
@keyframes moveTitle {
  0% {
    left: 50%;
    top: 15%;
  }
  40% {
    opacity: 1;
  }
  80% {
    left: 100px;
    top: -60px;
  }

  100% {
    left: 100px;
    top: -60px;
    opacity: 0;
    font-size: 35px;
  }
}
@keyframes fade-animate {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.content-title-visit {
  font-size: 1.2vw;
  background: #c41c1c;
  border-radius: 50px;
  font-family: "Kaushan Script", cursive;
  color: #111111;
  font-weight: 600;
  width: 100%;
  white-space: nowrap;
  height: 60px;
  padding: 2%;
  border: 1px solid #c41c1c;
}
.content-title-visit-git {
  font-size: 1.2vw;
  background: transparent;
  border: 2px solid white;
  color: white !important;
  border-radius: 50px;
  font-family: "Kaushan Script", cursive;
  color: #111111;
  font-weight: 300;
  width: 100%;
  white-space: nowrap;
  height: 60px;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0;
}
.success {
  background: -webkit-linear-gradient(
    to right,
    #e6c7ff00,
    #c41c1cc0,
    #c41c1cc0,
    #e6c7ff00
  );
  background: linear-gradient(
    to right,
    #e6c7ff00,
    #c41c1cc0,
    #c41c1cc0,
    #e6c7ff00
  );
  padding: 3%;
  color: white;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

.content-title-2 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 100px;
  opacity: 0;
}

.trail {
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  background: teal;
}

.full-stack {
  z-index: 1;
}

.developer {
  z-index: 1;
}

.footer {
  position: absolute;
  bottom: -5%;
  left: 50%;
  color: white;
  font-size: 120px;
  font-weight: bolder;
  transform: translate(-50%, -20%);
  font-family: "Bebas Neue", "Courier New", Courier, monospace;
  z-index: 3;
}

.horizontal-line-scope {
  background: #c41c1c;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-body-project {
  display: flex;
  flex-direction: row !important;
  flex: auto;
  flex-flow: column;
  height: 100%;
}

.content-body {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden !important;
  padding-top: 2%;
}

.screenshot {
  display: inline;
  margin: 0 auto;
  animation: 10s ease-in 0s 1 normal forwards running
    animation-horizontal-screenshot;
  width: 100%;
  object-fit: contain;
}

.image-cropper {
  width: 80%;
  overflow: hidden;
  height: 75%;
  object-fit: contain;
  justify-content: center;
  display: flex;
  z-index: 0;
  margin-top: 1%;
}

.footer-p {
  margin: 0 !important;
}

.linear-wipe {
  text-align: center;
  background: hsla(63, 100%, 77%, 1);

  background: linear-gradient(
    90deg,
    hsla(63, 100%, 77%, 1) 0%,
    hsla(331, 74%, 68%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(63, 100%, 77%, 1) 0%,
    hsla(331, 74%, 68%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(63, 100%, 77%, 1) 0%,
    hsla(331, 74%, 68%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FAFF89", endColorstr="#EA72AD", GradientType=1);
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.project-info {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  position: relative;
  width: 100%;
}
.css-og3m0y::after,
.css-17spqnz::after {
  border-bottom: 2px solid rgb(196 28 28) !important;
}
.tech-logo {
  width: 80% !important;
  object-fit: contain;
  max-height: 80px;
  z-index: 5;
}
.tech-logo:hover {
  transform: scale(1.3);
  animation-fill-mode: both;
}

.fadeInUp {
  z-index: 2;
}

.tech-col {
  width: 15% !important;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  align-items: center;
  position: relative;
  overflow: visible;
  justify-content: flex-end;
  z-index: 5;
}

.description {
  font-size: 1vw;
  font-weight: 100;
  width: 100%;
  margin-top: 0px !important;
}

.stack-title {
  white-space: nowrap;
  text-align: center;
  font-weight: 300;
  opacity: 0.6;
  margin: 0 !important;
  font-size: 0.7vw;
  line-height: 16px;
}
.social-links {
  position: absolute;
  left: 0;
  top: 15%;
  background-color: #2f2f2f;
  height: 150px;
  font-size: 30px;
  color: rgb(182, 182, 182);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.3%;
  z-index: 20;
}

.social-links a {
  color: rgb(182, 182, 182);

}
.social-links a:hover {
  color: #c41c1c;

}
@media only screen and (max-width: 980px) {
  *,
  html {
    overflow: inherit;
  }
  .contact-bubble {
    font-size: 6vw;
    letter-spacing: 0.5px;
  }
  .react-reveal {
    height: 100%;
    width: unset !important;
    position: unset;
  }
  .tech-col {
    max-width: 20% !important;
    flex-shrink: unset !important;
    position: unset !important;
    padding: 0;
    height: 80px;
  }
  .description {
    width: 100%;
    font-size: 20px;
  }
  [class^="col"] {
    width: 100% !important;
  }
  .image-cropper {
    width: 100%;
    position: unset;
    overflow: hidden;
    border-radius: 5%;
    object-fit: contain;
    justify-content: center;
    display: flex;
    z-index: 0;
    align-items: flex-start;
  }
  .resume-btn {
    font-family: 'ku';
    width: 300px;
    margin: auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Kaushan Script", cursive !important;
    font-size: 4.5vw;
  }
  .chevron-container {
    width: 34px;
    top: 8.5%;
    height: 100px;
    z-index: 15;
    
  }
  .screenshot {
    width: 800px;
    object-fit: cover;
  }
  .content-title {
    font-size: 5rem;
  }
  .tech-logo {
    max-width: 60px;
  }

  .project-info {
    width: 100% !important;
    padding: 2%;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap !important;
    --bs-gutter-x: 0 !important;
  }
  .stack-title {
    font-size: 10px !important;
  }
  .content-body {
    margin: 15% 0 !important;
  }
  .content-title-visit,
  .content-title-visit-git {
    font-size: 4.5vw;
  }

  .content-body-project {
    width: 100%;
    flex-direction: column !important;
  }
  .col-4 {
    margin: 0 !important;
  }
  .content-title-project {
    font-size: 55px;
  }

  .ieWDks {
    max-width: 100%;
  }
  .content-body-home {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100%;
    color: white;
    min-height: 100vh;

    margin-top: 0 !important;
  }
  .title1 {
    font-size: 90px;
    font-family: "Kaushan Script", cursive !important;
    position: absolute;
    top: 7%;
    transform: translate(-50%, 0);
  }
  .App {
    height: unset;
  }
  .contact-submit-btn {
    margin: 5% 0;
  }
  .contact-container {
    padding-top: 10%;
    width: 100%;
    flex-direction: column;
  }
  .contact-col {
    width: 100%;
    margin: 0;
    padding: 2%;
  }
  .pos-mobile {
    position: sticky;
  }

  @keyframes moveTitle {
    0% {
      top: 1.5%;
    }

    100% {
      top: 1.5%;
      font-size: 0px;
      opacity: 0;
    }
  }
}
